.section {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;

  &_hero-header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #FFB8CA;
  }
}

.section-customer {
  padding-bottom: 0px;
}
