<section class="section section_about" id="about">
  <div class="container">
    <div class="about">
      <p class="about__paragraph">tradition and love</p>
      <h2 class="secondary-header">how it’s made?</h2>
      <div class="about__side">
        <div class="about__left-side">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="./images/cow_mobile.png 1x, ./images/cow_mobile@2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/cow_tablet.png 1x, ./images/cow_tablet@2x.png 2x"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/cow_desktop.png 1x, ./images/cow_desktop@2x.png 2x"
            />
            <img class="about__left-side-img" src="images/cow_tablet.png" alt="COW" />
          </picture>
        </div>
        <div class="about__right-side">
          <p class="about__description-first">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__description-secondary">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt. <br />
            <br />
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="modal-btn" type="button">
            Read more
            <svg class="about__icon">
              <use href="./images/sprite_about.svg#icon-Vector-1"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
