<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__title">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="../src/images/shakeicon-mobile.png 1x, ../src/images/shakeicon-mobile@2x.png 2x"
          />
          <img src="../src/images/shakeicon-mobile.png" alt="icon of shake" />
          <div class="advantages__number">721</div>
          <div class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </div>
        </picture>
      </li>
      <li class="advantages__item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="../src/images/icecream-mobile.png 1x, ../src/images/icecream-mobile@2x.png 2x"
          />
          <img src="../src/images/icecream-mobile.png" alt="icon of icecream" />
          <div class="advantages__number">16kg</div>
          <div class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </div>
        </picture>
      </li>
      <li class="advantages__item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="../src/images/hearticon-mobile.png 1x, ../src/images/hearticon-mobile@2x.png 2x"
          />
          <img src="../src/images/hearticon-mobile.png" alt="icon of heart" />
          <div class="advantages__number">84</div>
          <div class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </div>
        </picture>
      </li>
    </ul>
  </div>
</section>
