<section class="section section_contacts" id="contacts">
  <div class="container">
    <div class="contacts-div">
    <div class="contacts">
      <h2 class="contacts__header">contacts</h2>
      <p class="contacts__cafe">CAFE</p>
      <ul class="contacts__list">
        <li class="contacts__address">
          <p class="contacts__address-paragraf">Chicago</p>
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li class="contacts__open-time">
          <p class="contacts__open-time-paragraf">Monday - Friday</p>
          06:00 AM - 10:00 PM
        </li>
        <li class="contacts__open-time">
          <p class="contacts__open-time-paragraf">Saturday - Sunday</p>
          08:00 AM - 16:00 PM
        </li>
        <li class="contacts__tel">
          <a class="contacts__tel-mail" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__mail">
          <a class="contacts__tel-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>

    <div class="contacts">
      <p class="contacts__foodtruck">FOODTRUCK</p>
      <ul class="contacts__list">
        <li class="contacts__address">
          <p class="contacts__address-paragraf">Los Angeles</p>
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li class="contacts__open-time">
          <p class="contacts__open-time-paragraf">Monday - Friday</p>
          06:00 AM - 10:00 PM
        </li>
        <li class="contacts__open-time">
          <p class="contacts__open-time-paragraf">Saturday - Sunday</p>
          08:00 AM - 16:00 PM
        </li>
        <li class="contacts__tel">
          <a class="contacts__tel-mail" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__mail">
          <a class="contacts__tel-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>

    <div class="contacts">
      <p class="contacts__cafe">CAFE</p>
      <ul class="contacts__list">
        <li class="contacts__address">
          <p class="contacts__address-paragraf">New York</p>
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </li>
        <li class="contacts__open-time">
          <p class="contacts__open-time-paragraf">Monday - Friday</p>
          06:00 AM - 10:00 PM
        </li>
        <li class="contacts__open-time">
          <p class="contacts__open-time-paragraf">Saturday - Sunday</p>
          08:00 AM - 16:00 PM
        </li>
        <li class="contacts__tel">
          <a class="contacts__tel-mail" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
        </li>
        <li class="contacts__mail">
          <a class="contacts__tel-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    </div>
    <div class="btn-contacts">
      <button class="btn-contacts__our-locations" type="button">Our Locations   ></button>
      <button class="btn-contacts__franchise" type="button">Franchise   ></button>
    </div>
  </div>
</section>
