<section class="section section-customer">
  <div class="container">
    <picture>
      <source
        media="(min-width: 320px)"
        srcset="../src/images/customer.png 1x, ../src/images/customer@2x.png 2x"
      />
      <img class="customer__pic" src="../src/images/customer.png" alt="picture of customer" />
    </picture>
    <div class="customer__text-box">
    <svg class="customer__main-text-svg">
      <use href="../src/images/customer2dots.svg#icon-untitled"></use>
    </svg>
    <div class="customer__paragraph-box">
    <p class="customer__main-text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    </div>
    </div>
    <ul class="customer__dot-list">
      <li class="customer__dot-item"></li>
      <li class="customer__dot-item"></li>
      <li class="customer__dot-item"></li>
    </ul>
    <p class="customer__secondary-text">Emily, Los Angeles</p>
    <ul class="customer__menu-list">
      <li class="customer__menu-item">
        <svg class="customer__menu-svg">
          <use href="../src/images/customer-housesvg.svg#icon-Vector"></use>
        </svg>
      </li>
      <li class="customer__menu-item"></li>
      <li class="customer__menu-item"></li>
    </ul>

  </div>
</section>
