<footer class="section section_footer">
  <div class="container">
    <div class="footer">
      <div class="footer-title">
        <p class="footer-title__homemade">HOMEMADE ICE CREAM MADE</p>
        <p class="footer-title__with-passion">WITH PASSION</p>
      </div>
      <div class="footer-socialmedia-contacts">
        <div class="footer-socialmedia">
          <div class="footer-socialmedia__div">
            <a class="footer-socialmedia__link" href="https://github.com/" target="_blank">
              <svg class="footer-socialmedia__svg" width="18.82px" height="18.82px">
                <use href="/images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
          <div class="footer-socialmedia__div">
            <a class="footer-socialmedia__link" href="https://telegram.org/" target="_blank">
              <svg class="footer-socialmedia__svg" width="19.2px" height="14.93px">
                <use href="/images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </div>

          <div class="footer-socialmedia__div">
            <a class="footer-socialmedia__link" href="https://www.facebook.com/" target="_blank">
              <svg class="footer-socialmedia__svg" width="8.8px" height="19.2px">
                <use href="/images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer-contacts">
          <p class="footer-contacts__feel-free">Feel free to contact</p>
          <a class="footer-contacts__tel" href="+61 (0) 383 766 284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-tag">
  <p class="footer-tag__copyright">© 2019 - IceCream. All Rights Reserved.</p>
</div>