<section class="gallery">
  <div class="container">
    <div class="gallery__background-color">
    <picture>
        <source media="(min-width: 1280px)"
        srcset="../src/images/gallery-desktop.png 1x, ../src/images/gallery-desktop@2x.png 2x">
         <source media="(min-width: 768px)"
        srcset="../src/images/gallery-tablet.png 1x, ../src/images/gallery-tablet@2x.png 2x">
         <source media="(min-width: 320px)"
        srcset="../src/images/gallery-mobile.png 1x, ../src/images/gallery-mobile@2x.png 2x">
         <img class="gallery__img" src="../src/images/gallery-mobile.png" alt="gallery of photos"/>
         </picture>

         </div>


         

  </div>
</section>