<section class="section" id="products">
  <div class="container">
    <h3 class="products-description">100% NATURAL</h3>
    <h2 class="products-title">PRODUCTS</h2>
    <ul class="product-list">
      <li class="product-list__space">
        <picture>
          <source media="(min-width: 1280px)" type="image/png" srcset="images/products/ice-cream-photo/ice-cream-desktop.png 1x,
                    ./images/products/ice-cream-photo/ice-cream-desktop@2x.png 2x"/>
          <source media="(min-width: 768px)" type="image/png" srcset="images/products/ice-cream-photo/ice-cream-tablet.png 1x,
                    ./images/products/ice-cream-photo/ice-cream-tablet@2x.png 2x"/>
          <source media="(min-width: 320px)" type="image/png" srcset="images/products/ice-cream-photo/ice-cream.png 1x,
                    ./images/products/ice-cream-photo/ice-cream@2x.png 2x"/>
          <img class="product-list__photo"
               src="images/products/ice-cream-photo/ice-cream.png"/>
        </picture>
        <div class="product-list__item product-list__item--ice-cream-color">
          <span class="product-list__title">ICE CREAM</span>
          <div class="dots">
            <svg width="26px" height="6px">
              <use href="images/icons.svg#icon-dots"></use>
            </svg>
          </div>
          <p class="product-list__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et</p>
          <img class="product-list__icon" src="images/products/elements/arrow-right.png" width="40px" height="40px">
        </div>
      </li>
      <li class="product-list__space">
                <picture>
                  <source media="(min-width: 1280px)" type="image/png" srcset="images/products/ice-cream-photo/ice-coffee-desktop.png 1x,
                    ./images/products/ice-cream-photo/ice-coffee-desktop@2x.png 2x"/>
                  <source media="(min-width: 768px)" type="image/png" srcset="images/products/ice-cream-photo/ice-coffee-tablet.png 1x,
                    ./images/products/ice-cream-photo/ice-coffee-tablet@2x.png 2x"/>
                  <source media="(min-width: 320px)" type="image/png" srcset="./images/products/ice-cream-photo/ice-coffee.png 1x,
                    ./images/products/ice-cream-photo/ice-coffee@2x.png 2x"/>
                  <img class="product-list__photo" src="images/products/ice-cream-photo/ice-coffee.png"/>
                </picture>
        <div class="product-list__item product-list__item--ice-coffee-color">
          <span class="product-list__title">ICE COFFEE</span>
          <div class="dots">
            <svg width="26px" height="6px">
              <use href="images/icons.svg#icon-dots"></use>
            </svg>
          </div>
          <p class="product-list__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et</p>
          <img class="product-list__icon" src="images/products/elements/arrow-right.png" width="40px" height="40px">
        </div>
      </li>
      <li class="product-list__space">
                <picture>
                  <source media="(min-width: 1280px)" type="image/png" srcset="images/products/ice-cream-photo/milkshake-desktop.png 1x,
                    ./images/products/ice-cream-photo/milkshake-desktop@2x.png 2x"/>
                  <source media="(min-width: 768px)" type="image/png" srcset="images/products/ice-cream-photo/milkshake-tablet.png 1x,
                    ./images/products/ice-cream-photo/milkshake-tablet@2x.png 2x"/>
                  <source media="(min-width: 320px)" type="image/png" srcset="./images/products/ice-cream-photo/milkshake.png 1x,
                    ./images/products/ice-cream-photo/milkshake@2x.png 2x"/>
                  <img class="product-list__photo" src="images/products/ice-cream-photo/milkshake.png"/>
                </picture>
        <div class="product-list__item product-list__item--milkshakes-color">
          <span class="product-list__title">MILKSHAKES</span>
          <div class="dots">
            <svg width="26px" height="6px">
              <use href="images/icons.svg#icon-dots"></use>
            </svg>
          </div>
          <p class="product-list__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et</p>
          <img class="product-list__icon" src="images/products/elements/arrow-right.png" width="40px" height="40px">
        </div>
      </li>
    </ul>
  </div>
</section>